/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

h2 {
    margin-bottom: 0;
}

th{
    padding: 0 0.5em;
}

td.number {
    text-align: center;
}

#currentMatch {
    display:flex;
    flex-direction: column;
    align-items: center;
    width:fit-content;
}

#qr {
  display: grid;
  grid-template-areas: 
  "title title"
  "redTitle blueTitle"
  "redCode blueCode";
  width: fit-content;
}

#qr h3 {
  text-align: center;
  margin: 0.25em;
}

#qr div {
  margin: 0 1em;
}