@import url("/css/common.css");

p {
    color: black;
}

html {
    height: 100%;
}

body {
    height: 100%;
}

/* 
 * Bracket CSS sourced from “Tournament bracket” by Serhii Dudnyk 
 * https://codepen.io/sdudnyk/pen/bWbqMb
 */

.wrapper {
    display: flex;
    height: 100%;
    justify-content: center;
}

.item {
    display: flex;
    flex-direction: row-reverse;
}

.item p {
    margin: 0;
}

.item .match p {
    padding: 20px;
    background-color: Beige;
}

.item .entry p {
    /* padding-bottom: calc(25px + 0.1em); */
    transform: translateY(-50%);
}

.item-parent {
    position: relative;
    margin-left: 50px;
    display: flex;
    align-items: center;
}

.item-parent:after {
    position: absolute;
    content: "";
    width: 25px;
    height: 2px;
    left: 0;
    top: 50%;
    background-color: #fff;
    transform: translateX(-100%);
}

.item-childrens {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.item-child {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative;
}

.item-child:before {
    content: "";
    position: absolute;
    background-color: #fff;
    right: 0;
    top: 50%;
    transform: translateX(100%);
    width: 25px;
    height: 2px;
}

.item-child:after {
    content: "";
    position: absolute;
    background-color: #fff;
    right: -25px;
    height: calc(50% + 22px);
    width: 2px;
    top: 50%;
}

.item-child.entry::before {
    transform: translateX(calc(100% - 4em + 25px));
    width: 4em;
}

.item-child:last-child:after {
    transform: translateY(-100%);
}

.item-child:only-child:after {
    display: none;
}