@import url("/css/common.css");

body {
    background-color: green;
    height:100%;
    font-size: 2em;
}

.teamScore {
    width: fit-content;
    display: flex;
    flex-direction: column;
}

.scoreItem {
    margin-left: 0.5em;
    background-color: white;
    color: black;
    margin-bottom: 0.25em;
    box-shadow: 5px 5px 0.2em black,
                0px 0px 0.5em black;

    background: 
        linear-gradient(110deg, darkred 0.6em, white 0.8em);
}

.scoreItem.teamName {
    margin-left: 0;
    background: darkred;
    color:white;
}

.scoreItem.teamName .scoreName {
    margin-right: 0.5em;
}

.scoreItem .scoreName {
    margin-left: 0.8em;
}

.scoreItem .scoreValue {
    background-color: #00000044;
    padding-left: 0.75em;
    padding-right: 0.2em;
    display: inline-block;
    
    float:right;
    min-width: 1em;
    text-align: right;

    background: 
        linear-gradient(110deg, #00000000 0.4em, #00000022 0.6em);
}


#clock {
    position: absolute;
    bottom: 1em;
    left: 0;
    right: 0;
    margin: auto;
    width: min-content;
    
    background: linear-gradient(0deg, var(--white-accent) 1em, var(--white-primary) 0%);

    background-color: var(--white-accent);

    box-shadow: 5px 5px 0.2em black,
                0px 0px 0.5em black;
    
    color: black;
    text-align: center;
    padding: 0 2em;
    padding-bottom: 0.75em;
}

#clock #time {
    font-size: 2em;
}

#clock #review {
    position: absolute;
    top: -1.25em;
    left: 0;
    right: 0;
    margin: auto;
    
    width: 90%;
    padding: 0;
    padding-bottom: 0.5em;
    z-index: -1;

    background-color: yellow;
    text-align: center;
    color: black;
    transition: top 0.5s;
    
    box-shadow: 5px 5px 0.2em black,
                0px 0px 0.5em black;
}