@import url("/css/common.css");

#schedule {    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: nowrap;
}

.teams {
    text-align: center;
    grid-column: 4 / 8;
}

.match {
    color: black;
    display: grid;
    /* Leave 20% ish for the auto column */
    grid-template-columns: auto 1fr repeat(6, 1fr);
    grid-gap:1em;
    background-color: white;
    padding: 0.25em 5%;
    margin: 0.25em;
    width: 80%;
    box-shadow: 0 0.25em var(--purple-accent);
}

.team {
    /* color: var(--red-accent); */
    overflow: hidden;
    white-space: nowrap;
    text-align: center;
}