@import url("/css/common.css");

body {
    font-size: min(9vw, 4vh);
}

body>section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    height: 100%;
    padding: 0.5em 0 2em 0;
}


#score {
    display:flex;
    flex-direction: row;
    width:100%;
    align-items: center;
}

#score>span {
    display: inline-block;
    width: 100%;
    text-align: center;
}

.red {
    background-color: var(--red-accent);
}

.blue {
    background-color: var(--blue-accent);
}

button {
    border:none;
    font-size: 1em;
    margin: 0.1em 0.3em;
    padding: 0.1em 1em;
}

#buttons {
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}
#buttons div {
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}