:root {
    --red-primary: #DD0000;
    --red-accent: #880000;
    --blue-primary: #0000DD;
    --blue-accent: #000088;
    --white-primary: #FFFFFF;
    --white-accent: #AAAAAA;
    --purple-primary: #6F40bA;
    --purple-accent: #4A2A7C; 
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin: 0;
    padding: 0;
    font-size:40px;
    background-color: var(--purple-primary);
}