@import url("/common.css");

body {
    background-color: lime;
    height:100%
}

#scoreboard {
    position:absolute;
    bottom:0px;
    width:100%;
    display:flex;
    justify-content: space-between;
    align-items: flex-end;
}

#scoreboard>div {
    width:inherit;
    padding-bottom:1em;
    padding-left:1em;
    padding-right:1em;
    display:grid;
    grid-template-rows: auto;
}

#scoreboard #red {
    text-align: left;
    background: 
        linear-gradient(0deg, var(--red-accent) 3em, #ffffff00 0%),
        linear-gradient(45deg, var(--red-accent) 40%, #ffffff00 0%),
        linear-gradient(0deg, var(--red-primary) 80%, #ffffff00 0%);
    grid-template-columns: 1em 3em 50% auto;
    grid-template-areas: 
        "score score . ."
        ". num name .";
}

#scoreboard #blue {
    text-align: right;
    background: 
    linear-gradient(0deg, var(--blue-accent) 3em, #ffffff00 0%),
    linear-gradient(-45deg, var(--blue-accent) 40%, #ffffff00 0%),
    linear-gradient(0deg, var(--blue-primary) 80%, #ffffff00 0%);
    grid-template-columns: auto 50% 3em 1em;
    grid-template-areas: 
        ". . score score"
        ". name num .";
}

#scoreboard .score {
    grid-area: score;
    font-size: 2.5em;
}

#scoreboard .teamNum {
    grid-area: num;
}

#scoreboard #red .teamNum {
    text-align:right;
}
#scoreboard #red .teamNum::after {
    content: "-";
    margin-left: 0.25em;
    margin-right: 0.25em;
}
#scoreboard #blue .teamNum {
    text-align:left;
}
#scoreboard #blue .teamNum::before {
    content: "-";
    margin-left: 0.25em;
    margin-right: 0.25em;
}

#scoreboard .teamName {
    grid-area: name;
}

#scoreboard #middle {
    width:35%;
    background: linear-gradient(var(--white-primary) 2em, var(--white-accent) 0%);
    color: black;
    text-align: center;
    height:3em;
}

#scoreboard #middle #time {
    font-size: 2em;
}