@import url("/common.css");

body {
    font-size: 4vh;
}

#schedule {    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: nowrap;
}

.match {
    color: black;
    display: grid;
    grid-template-columns: auto 40% 40%;
    grid-gap:1em;
    background-color: white;
    padding: 0.25em 5%;
    margin: 0.25em;
    width: 80%;
    box-shadow: 0 0.25em var(--purple-accent);
}

.redTeam {
    color: var(--red-accent);
    overflow: hidden;
    white-space: nowrap;
}

.blueTeam {
    color: var(--blue-accent);
    overflow: hidden;
    white-space: nowrap;
}