@import url("/common.css");

body {
    font-size: 4vh;
}

.scores {    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: nowrap;
}

.team {
    color: black;
    display: grid;
    grid-gap:1em;
    background-color: white;
    padding: 0.25em 5%;
    margin: 0.25em;
    width: 80%;
    box-shadow: 0 0.25em var(--purple-accent);
}

#layer-0 .team {
    grid-template-columns: 2em 40% 0 2em auto 3em 3em 3em auto;
}

#layer-1 .team {
    grid-template-columns: 2em 40% 0 2em auto 6em 3em 3em auto;
}

.layer {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity 0.5s;
    opacity: 0;
}

.team div {
    text-align: center;
}

.team div:nth-child(2){
    text-align: left;
}